@(titlePage: String,productForm: Form[Product])(implicit messages: play.i18n.Messages)

@import helper._

@main(titlePage){
    <h1>FORMULARIO DE PRODUCTO</h1>
    @if(productForm.hasErrors()) {
        <div class="alert alert-danger">
            <p>Ocurrio un error al guardar el producto</p>
        </div>
    }
    @helper.form(action = routes.Products.save()){
        <fieldset>
            <legend>Producto @productForm("name").value.getOrElse("Nuevo")</legend>
                @helper.inputText(productForm("ean"),Symbol("_label")->"Código EAN del Producto")
                @helper.inputText(productForm("name"),Symbol("_label")->"Nombre del Producto")
                @helper.textarea(productForm("description"),Symbol("_label") -> "Descripción del Producto")
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <a class="btn" href="@routes.Products.list()">Cancelar</a>
    }

}