@(products: List[Product])

@main("Products catalogue"){
    <h2>Nuestros productos:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>EAN</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @for(product <- products){
                <tr>
                    <td>
                        <a href="@routes.Products.details(product.getEan)">
                            @product.getEan
                        </a>
                    </td>
                    <td>
                        <a href="@routes.Products.details(product.getName)">
                        @product.getName
                        </a>
                    </td>
                    <td>
                        <a href="@routes.Products.details(product.getDescription)">
                        @product.getDescription
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
